.dnd-library-wrapper .editor-item .meta.type-chart {
  background-image: url('icons/chart.png');
}
.scald-menu .add-buttons .add-chart {
  background: url('icons/chart-large-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-chart:hover {
  background-image: url('icons/chart-large-color.png');
}
